In [3]:
import pandas as pd
import numpy as np
import MySQLdb
import re
from datetime import datetime
from matplotlib import pyplot as plt
conn = MySQLdb.connect(host='54.65.19.253', port=3306, user='news', passwd='newsnews', db='news')

In [2]:
news_title = pd.read_csv('news_title.csv')
news_title.head()

,name,class,date,timestamp
0,cia exposed by frontline role along afghanista...,world,2010/jan/01,1262275200
1,iraq threatens action after blackwater case co...,world,2010/jan/01,1262275200
2,racial or religious groups could be picked out...,world,2010/jan/01,1262275200
3,us general british hostage held in iran,world,2010/jan/01,1262275200
4,pakistan suicide bomber kills dozens at volley...,world,2010/jan/01,1262275200

In [18]:
def getdata(news_class):
    conn = MySQLdb.connect(host='54.65.19.253', port=3306, user='news', passwd='newsnews', db='news')
    news = pd.read_csv('news_title.csv')
    news = news.loc[news['class'].isin(news_class)]
    news = news.drop(['date', 'class'], axis=1)
    news = news.groupby('timestamp', as_index=False).agg(lambda name: ' '.join(name))
    gbp = pd.read_sql('SELECT gbp.timestamp, gbp \
                FROM gbp \
                WHERE gbp.timestamp >= 1262275200;', conn)
    news = pd.merge(news, gbp, on='timestamp', how='inner')
    return news

In [22]:
news_class = ['word','business']#['lifestyle','travel']
data = getdata(news_class)

In [23]:
data

       timestamp                                               name       gbp
0     1262275200  green technology to be used by top firms to ov...  1.616810
1     1262448000  dispute looms as russia suspends belarus energ...  1.616800
2     1262534400  how solid is northern rock without government ...  1.610591
3     1262620800  fears of higher interest rates as leading bond...  1.600088
4     1262707200  bad weather casts cloud over industry icelandi...  1.601267
5     1262793600  energy infrastructure needs renewing bus inqui...  1.591234
6     1262880000  bonus time as banks pay out  bn gm seeks to cl...  1.599166
7     1262966400         investors get tough over bosses  tax deals  1.602100
8     1263052800  mitchells butlers in peace talks with rebel in...  1.602100
9     1263139200  petrol engines will rule for at least another ...  1.614429
10    1263225600  general motors  if saab bidders are not sound ...  1.618031
11    1263312000  us taxpayers gave banks kiss of life wall stre...  1.628565
12    1263398400  angry obama vows to tax cash rich wall street ...  1.632267
13    1263484800  mitchells butlers activists win backing from t...  1.623972
14    1263571200  sir fred goodwin given job by scottish parliam...  1.626550
15    1263657600  gdf suez launches international power bid cadb...  1.626200
16    1263744000  kraft set for higher cadbury bid as deadline l...  1.632554
17    1263830400  business donors to haiti  which companies are ...  1.636785
18    1263916800  surprise drop in unemployment presents brown w...  1.628541
19    1264003200  wall street bank shares slump as impact of oba...  1.620529
20    1264089600  childrenswear chain adams falls back into admi...  1.611608
21    1264176000  kraft pledges to honour cadbury fairtrade sour...  1.611300
22    1264262400  lord myners calls time on  greed is good  bank...  1.611300
23    1264348800  more punches fly in mitchells butlers barroom ...  1.623517
24    1264435200  hangman noose found at bp texas city refinery ...  1.616074
25    1264521600  darling to hold secret talks with bankers in d...  1.620266
26    1264608000  leighton martians  aka the past marsters  have...  1.614237
27    1264694400  honda recalls   jazz cars worldwide greece and...  1.600979
28    1264867200  amazon shelves macmillan titles in ebook row g...  1.599000
29    1264953600  the  shopkeeper golden hello for new s boss ma...  1.592524
...          ...                                                ...       ...
2440  1480608000  martin shkreli branded an  attention seeker  a...  1.268148
2441  1480694400  adani coal mine  green groups fume over plan f...  1.272760
2442  1480780800  human rights abusers who buy london homes coul...  1.272780
2443  1480867200  could matteo renzi exit lead to an italian ban...  1.270852
2444  1480953600  are workers right to be sceptical about produc...  1.270575
2445  1481040000  adani carmichael mine  australia institute dem...  1.260501
2446  1481126400  the day the australian economy ran out of luck...  1.257591
2447  1481212800  take basic income and short working week serio...  1.258145
2448  1481299200  non opec countries agree to cut oil output to ...  1.257300
2449  1481385600  on climate change and the economy  we re trapp...  1.257100
2450  1481472000  sky should seek better offer from rupert murdo...  1.267493
2451  1481558400  the australian tax office transparency reporti...  1.268368
2452  1481644800  scott morrison extols virtues of  good debt  i...  1.271379
2453  1481731200  good debt  hopefully this means the end of the...  1.238533
2454  1481817600  airport workers  strike could disrupt christma...  1.247686
2455  1481904000  tsipras spending spree may be relief to greeks...  1.248950
2456  1481990400  nissan british arm saw profits rise   before e...  1.249000
2457  1482076800  italian government to request bank bailout fun...  1.241528
2458  1482163200  labor says  wafer thin  projected surplus will...  1.235645
2459  1482249600  stop holding sleepovers in our stores  ikea wa...  1.235043
2460  1482336000  us justice department accuses barclays over mo...  1.229937
2461  1482422400  barclays refuses to settle with us doj over  c...  1.225293
2462  1482508800  awkward  the blog to ease that horrible office...  1.228500
2463  1482595200  showmen guild plays vital role for travelling ...  1.227800
2464  1482681600  china to rein in outward investment as domesti...  1.228694
2465  1482768000   negligible  link between executive pay and fi...  1.226001
2466  1482854400  ftse   soars to new closing high boohoo set to...  1.222100
2467  1482940800  pension expert call for scrutiny over sports d...  1.223908
2468  1483027200  lloyd of london inga beale made dame in new ye...  1.233779
2469  1483113600  qantas  hundreds of passengers stranded in dub...  1.233210

[2470 rows x 3 columns]